body {
    background: #FFFFFF;
    font-size: 18px;

    &.admin-bar {
        margin-top: 32px;

        nav {
            margin-top: 32px;
        }
    }
}


h1, h2, h3, h4, h5, h6, .section-content .btn a {
    font-family: $serif;
    text-transform: uppercase;
}

.gray-area {
    background-color: $color-lightest-gray;
}

.dark-gray-area {
    background-color: $color-darkest-gray;
    color: white;
}

.gold-area {
    background-color: $ccc-primary;
    color: white;
}

.custom-background-img-area {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: auto 120vh !important;
    color: white;
}

.full-width {
    margin-left: -$spacing-lg;
    margin-right: -$spacing-lg;
}

a {
    color: $ccc-primary;
    &:hover, &:active {
        color: $ccc-lighter;
    }
}

.window-mobile {
    float: left;
}

@media (max-width: $device-sm) {
    .window-mobile {
        float: none;
    }
}

.dgd_stb_box {
    max-height: auto;
}

@media (max-width: $device-sm) {
    .dgd_stb_box {
        overflow-y: auto;
        max-height: 100%;
    }
}

@media (max-width: $device-sm) {
    .hidden-xs {
        display: none;
    }
}

#alert-message {
    min-height: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
        font-size: 14px;
        display: inline-block;
        line-height: 1.3;
    }
}
