#page {
    transform: scale(.5);
}

#preloader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 900;
}

#preloader .row {
    height: 100vh;
}

#preloader .row .col {
    box-sizing: border-box;
    float: left;
    width: 100%;
    height: 100%;
    transition: transform .7s ease;
    transition-delay: 0.5s;
    background-color: white;
}

#preloader .row .col.animate-down {
    transform-origin: 0 0;
}

#preloader .row .col.animate-up {
    transform-origin: 0 100vh;
}

#preloader .row .col:after {
    content: "";
    display: table;
    clear: both;
}

#loader {
    position: fixed;
    top: 60%;
    left: 45%;
}

@media screen and (max-width: $mobile) {
    #loader {
        left: 40%;
    }
}

#loader h1 {
    color: $color-dark-gray;
    font-family: Georgia, serif;
    font-size: 55pt;
    position: relative;
    bottom: 100px;
    font-weight: 100;
}

#loader h1 span {
    position: absolute;
    animation: stretch-middle 1s infinite alternate;
}

#loader h1 span:first-child {
    font-size: 40pt;
    top: 11px;
    left: -13px;
    animation: stretch-first 1s infinite alternate;
}

#loader h1 span:last-child {
    font-size: 70pt;
    top: -12px;
    left: 17px;
    animation: stretch-last 1s infinite alternate;
}

#loader h5 {
    font-size: 13px;
    font-weight: bold;
    margin-left: 5px;
    color: $color-dark-gray;
    text-transform: uppercase;
}

#loader h5:after {
    content: "\2026";
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    width: 0px;
    animation: ellipsis steps(4, end) 1s infinite;
    -webkit-animation: ellipsis steps(4, end) 1s infinite;
}

body.pace-done {
    overflow: auto;
}

.pace-done #loader, .page-header, #alert-message, .page-header h1, #welcome h1 div, #top-nav .logo, #top-nav ul, .home #welcome a.scroll {
    opacity: 0;
}

.home #welcome a.scroll {
    animation: fade-in-bottom 0.4s ease forwards;
    animation-delay: 5s;
}

.pace-done {
    .page-header, #alert-message {
        opacity: 1;
    }
    #loader * {
        transition: 1s;
        height: 0;
        width: 0;
        visibility: collapse;
    }
    .page-header h1 {
        animation: fade-in-bottom 0.4s ease forwards;
        animation-delay: 1s;
    }
    #welcome {
        &:before {
            animation: home-border-animation .6s 1s ease forwards;
        }
        &:after {
            animation: home-hero-animation .5s 1.6s cubic-bezier(.5, .01, .5, .99) forwards;
        }
        h1 {
            div {
                animation: fade-in-bottom 0.4s ease forwards;
                animation-delay: 2s;
                &:nth-child(2) {
                    animation-delay: 2.1s;
                }
            }
        }
    }
    #top-nav {
        .logo {
            animation: fade-in-top 0.4s ease forwards;
            animation-delay: 1.3s;
        }
        ul {
            animation: fade-in-top 0.4s ease forwards;
        }
        #menu-primary {
            animation-delay: 1.4s;
        }
    }
}
