/**** SPACING ****/

$spacing-xs: 5px;
$spacing-sm: 10px;
$spacing-md: 15px;
$spacing-lg: 50px;
$spacing-xl: 75px;
$spacing-xxl: 100px;

/**** COLORS ****/

$color-darkest: #1A1B1D;
$color-darkest-gray: $color-darkest;
$color-dark-gray: #53575E;
$color-darker-gray: #797D84;
$color-gray: #797D84;
$color-light-gray: #CFCFD2;
$color-lightest-gray: #E4E5E8;

$ccc-dropshadow: rgba(0,0,0,.2);

$ccc-primary: #0C7B93;
$ccc-lighter: lighten($ccc-primary, 30%);

$ccc-primary-8: rgba(12, 123, 147, .8);
$ccc-primary-5: rgba(12, 123, 147, .5);

$ccc-gold: #C18D19;
$ccc-red: #C72323;
$ccc-white: #FFFFFF;

$plyr-background: $color-light-gray;
$plyr-control: rgba(26, 27, 29, .4);
$plyr-progress: $color-gray;
$plyr-buffer: $color-darker-gray;

/**** BORDER RADIUS ****/

$radius-sm: 5px;
$radius-md: 10px;
$radius-lg: 26px;

/**** FONT SIZE ****/

$font-xs: 12px;
$font-sm: 16px;
$font-md: 18px;
$font-lg: 22px;
$font-xl: 34px;
$font-xxl: 40px;

/**** RESPONSIVE SIZES ****/

$mobile: 600px;
$tablet: 782px;

/**** DEVICE SIZES ****/

$device-xs: 576px;
$device-sm: 768px;
$device-md: 992px;
$device-lg: 1200px;
