body {
	background: #ffffff;
	font-size: 18px;
	margin-top: 81px;

	&.admin-bar {
		nav {
			margin-top: 32px;
		}

		#wpadminbar {
			position: fixed !important;
		}
	}
}

.gray-area {
	background-color: $color-lightest-gray;
}

.dark-gray-area {
	background-color: $color-darkest-gray;
	color: white;
}

.gold-area {
	background-color: $ccc-primary;
	color: white;
}

.custom-background-img-area {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-size: auto 120vh !important;
	color: white;
}

.full-width {
	margin-left: -$spacing-lg;
	margin-right: -$spacing-lg;
}

a {
	color: $ccc-primary;
	&:hover,
	&:active {
		color: $ccc-lighter;
	}
}

a:not(.btn):not(.no-underline) {
	text-decoration: underline;
}

.window-mobile {
	float: left;
}

#alert-message {
	min-height: 60px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	span {
		font-size: 14px;
		display: inline-block;
		line-height: 1.3;
	}
}

hr {
	border-width: 0 i !important;
	@include line(5px, $color-darkest-gray, $radius-xs);
}

@media (max-width: $device-sm) {
	.window-mobile {
		float: none;
	}

	.dgd_stb_box {
		max-height: auto;

		.dgd_stb_box {
			overflow-y: auto;
			max-height: 100%;
		}

		.hidden-xs {
			display: none;
		}
	}

	@media (max-width: $device-md) {
		body {
			&.admin-bar {
				nav {
					margin-top: 46px;
				}
			}
		}
	}
}
