/**** SPACING ****/

$spacing-xs: 5px;
$spacing-sm: 10px;
$spacing-md: 15px;
$spacing-lg: 50px;
$spacing-xl: 75px;
$spacing-xxl: 100px;

/**** COLORS ****/

$color-darkest: #1a1b1d;
$color-darkest-gray: $color-darkest;
$color-dark-gray: #53575e;
$color-darker-gray: #797d84;
$color-gray: #797d84;
$color-light-gray: #cfcfd2;
$color-lightest-gray: #e4e5e8;

$ccc-dropshadow: rgba(0, 0, 0, 0.2);

$ccc-primary: #0c7b93;
$ccc-lighter: lighten($ccc-primary, 30%);

$ccc-primary-8: rgba(12, 123, 147, 0.8);
$ccc-primary-5: rgba(12, 123, 147, 0.5);

$ccc-gold: #c18d19;
$ccc-gold-lighter: lighten($ccc-gold, 20%);
$ccc-gold-darker: darken($ccc-gold, 20%);

$ccc-red: #c72323;
$ccc-white: #ffffff;

$plyr-background: $color-light-gray;
$plyr-control: rgba(26, 27, 29, 0.4);
$plyr-progress: $color-gray;
$plyr-buffer: $color-darker-gray;

/**** BORDER RADIUS ****/

$radius-xs: 5px;
$radius-sm: 10px;
$radius-md: 15px;
$radius-lg: 25px;

/**** GLOW SIZES ****/
$glow-sm: 5px;
$glow-md: 16px;
$glow-lg: 26px;

/**** FONT SIZE ****/

$font-xs: 12px;
$font-sm: 16px;
$font-md: 18px;
$font-lg: 22px;
$font-xl: 34px;
$font-xxl: 40px;

/**** RESPONSIVE SIZES ****/

$mobile: 600px;
$tablet: 782px;

/**** DEVICE SIZES ****/

$device-xs: 576px;
$device-sm: 768px;
$device-md: 992px;
$device-lg: 1200px;
